.contenedor{
    display: grid;
    gap: 20px;/*espacio entre columns*/
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);

    /* alinea horizontalmente todos los elementos de la grid */
    justify-items: center;

    /* alinea verticalmente todos los elemntos de la grid*/
    align-items: center;
}

.contenedor .item{
    background: chartreuse;
    color: black;
    justify-self: stretch;/* alinea hort el elemento con la clase */
    align-self: stretch;/* alinea vert el elemento con la clase */
}